


.probrand{
    font-size:15px;
    font-weight:600;
    line-height:15px;
    text-transform:uppercase;
    font-family:sans-serif;
}

.proName{

    font-size:13px;
    line-height:17px;
    font-family:sans-serif;
    
}

.proPrice {
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    font-family: sans-serif;

}

.proOgPrice {
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    font-family: sans-serif;
    text-decoration:line-through;
    color:gray;
}

.proPriceDiscount {
    font-size: 13px;
    font-weight: 400;
    font-family: sans-serif;
    color: red;
}